// Main-Colors

$light_blue: #C2E9FB;
$middle_blue: #A1C4FD;
$white: #FFFFFF;
$shadow: #0000001A;
$hard_blue: #324BFF;
$light_grey: #F7F7F7;
$hard_grey: #CCCCCC;
$dark: #333333;
$placeholder: #999999;